@use "../../assets/scss/base";
@use "../../assets/scss/variables";
.student-info-container {
    padding: 20px 30px;
    display: flex;

    .left {
        margin-right: 20px;
        margin-right: 30px;
    }

    .right {
        .student-info-table {
            border-spacing: 0;
            .row{
                .cell{
                    padding: 3px 0;
                    &:first-of-type{
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}
.select-option-left{
    float: left;
}
.select-option-right{
    float: right;
    font-size: 13px;
}
.select-option-right-green{
    @extend .select-option-right;
    color: variables.$fc-21;
}
.select-option-right-blue{
    @extend .select-option-right;
    color: variables.$fc-22;
}
.select-option-right-yellow{
    @extend .select-option-right;
    color: variables.$fc-20;
}
.select-option-right-red{
    @extend .select-option-right;
    color: variables.$fc-30;
}